.ui.borderless.topmenu.container.menu {
  box-shadow: none;
  border: none;
}

.grad-background {
  background: url('http://courses.ics.hawaii.edu/ics314f20/morea/ui-frameworks/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.footer-background {
  color: white;
  background: #004030;
}